/**/

$XS: 5px;
$S: 10px;
$S_: 15px;
$M: 20px;
$L: 30px;
$XL: 50px;
$XXL: 60px;
$_XS: 0.25em;
$_S: 0.5em;
$_S_: 0.75em;
$_M: 1em;
$_M_: 1.25em;
$_M__: 1.5em;
$_L: 2em;
$_XL: 3em;
$_XXL: 5em;

%font__title-serif-1 {
    @extend %font__serif;
    font-size: 1.5rem;
    font-weight: 400;
}
%font__title-serif--mobile {
    @extend %font__serif;
    font-size: 1.2rem;
    font-weight: 400;
}
%font__title-serif-2 {
    @extend %font__serif;
    font-size: 1rem;
    font-weight: 400;
}
%font__title-serif-2--mobile {
    @extend %font__serif;
    font-size: 0.8rem;
    font-weight: 400;
}
%font__header-title {
    @extend %font__sans-serif;
    font-size: 1rem;
    font-weight: 500;
}
%font__header-navlink {
    @extend %font__sans-serif;
    font-size: 1em;
    font-weight: 500;
}
%font__searchbar-title {
    @extend %font__sans-serif;
    font-size: 0.8em;
    font-weight: 400;
}
%font__searchbar-subtitle {
    @extend %font__sans-serif;
    font-size: 0.5em;
    font-weight: 300;
}
%font__searchbar-suggestion {
    @extend %font__sans-serif;
    font-size: 0.5em;
    font-weight: 300;
}
%font__activity-index {
    @extend %font__sans-serif;
    font-size: 0.5em;
    font-weight: 400;
}
%font__activity-text {
    @extend %font__sans-serif;
    font-size: 1.2em;
    font-weight: 400;
}
%font__activity-text--mobile {
    @extend %font__sans-serif;
    font-size: 0.8em;
    font-weight: 400;
}
%font__cta-primary {
    @extend %font__sans-serif;
    font-size: 0.8em;
    font-weight: 600;
}
%font__cta-secondary {
    @extend %font__sans-serif;
    font-size: 0.8em;
    font-weight: 500;
}
