// *****BREAKPOINTS*****

$mobile: 570;
$tablette: 960;
$desktop: 1460;
$tv: 2000;
$breakpoints: (
    mobile: $mobile,
    tablette: $tablette,
    desktop: $desktop,
);

// *****SHADOWS*****

$shadow1: 8px 25px 45px -12px rgba(94, 94, 94, 0.62);
$shadow2: 8px 25px 45px -0px rgba(94, 94, 94, 1);
$shadow3: 8px 8px 45px -12px rgba(94, 94, 94, 0.62);
$shadow4: 0px 5px 30px -10px rgb(94 94 94 / 62%);

// *****COLORS*****

$black: black;
$white: white;

$primary500: #064025;
$primary600: #11402f;
$primary700: #0a3022;

$secondary: #a7d9d0;

$tertiary: #f2f1e9;

$accent: #79a637;

$grey: #646464;

$neutral400: rgba(230, 230, 230, 0.2);
$neutral500: #e6e6e6;
